/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

html, body {
  background-color: #fdf5e6;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  padding: 0.5em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #808080;
  line-height: 1.1;
}

h4 {
  margin-top: 0px;
}

p {
  margin-top: 0px;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: blue;
}

footer {
  display: flex;
  position: relative;
  bottom: 0; /*下に固定*/
  width: 100%;
  padding: 0.5em;
  background: #fff;
  border-top: 1px solid lightgrey;
  justify-content: center;
}
footer span{
  color: lightgrey;
  font-size: 0.8em;
}

header{
  z-index: 999999;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 1em 0;
  justify-content: center;
}
header span{
  color: #ffc0cb;
  font-size: 1.5em;
}
header input{
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
}
img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.all-area{
  margin-top: 4.25em;
  height: auto;
}
.area-1{
  display: flex;
  width: 100%;
  height: auto;
  padding: 1em;
  padding-bottom: 2em;
  background: #fdf5e6;
  flex-direction: column;
  align-items: center;
}
.area-2{
  display: flex;
  width: 100%;
  height: auto;
  pedding: 1em;
  padding-bottom: 2em;
  background: #ffffe0;
  flex-direction: column;
  align-items: center;
}
.small-area{
  padding: 1em;
}
.profile-message{
  line-height: 1.5;
}
.work{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-1{
  font-family:"edwardian script itc";
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 1;
  color: #ffb6c1;
}
.work-1-1{
  font-size: 2.3em;
  margin: 0;
  padding: 0;
}
.image-area{
  position: relative;
  max-width: 16em;
  max-height: 12em;
  margin: 0.3em;
}
.skill-set{
  display: flex;
  margin-bottom: 1em;
}
.skill-set div{
  position: relative;
  width: 2.5em;
  height: 2.5em;
  margin: 0.3em;
}
.skill-set div img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


/* Myhandmades_message */
/* ホームページへ */
/* Glitch */
.demo-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.demo-area-in{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.demo-url{
  display: flex;
  align-items: baseline;
}
.demo-area i{
  color: #ffc0cb;
  margin: 0.15em;
}
.demo-area a{
  text-decoration: none;
  color: #484848;
}
.demo-area .demo-area-in .demo-qr{
  position: relative;
  width: 4em;
  height: 4em;
  margin-left: 1em;  
}
.demo-area .demo-area-in div img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;    
}
/* GitHub */
.code-area{
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.code-area i{
  color: #ffc0cb;
  margin: 0.15em;
}
.code-area a{  
  text-decoration: none;
  color: #484848;
}
/* outline */
.outline-area{
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 52em;
}
.outline-message{
  width: 95%;
  max-width: 52em;
  margin: 1em;
}
.outline-image{
  position: relative;
  max-width: 24em;
  height: 16em;
  margin-right: auto;
  margin-left: auto;
}
.outline-image img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;  
}
/* アプリ説明 */
.app-message-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-concept{
  font-size:1.5em;
}
.app-message-area2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}
.app-message-area2 i{
  color: #db7093;
}
.app-messages{
  margin: 1em;
}
.app-message-title{
  font-size: 1.1em;
}
/* Myhandomades */
.app-message-title span{
  font-size: 1.3em;
  padding-right: 0.2em;
}
.app-messages-area{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.app-message{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.app-message-detail-measure{
  margin-left: 2em;
}
/* indexへ */
.return-button-top{
  font-size: 2.5em;
  color: #ffc0cb;
  line-height: 0.8;
  margin: 0.3em;
}
.return-button-bottom{
  font-size: 2.5em;
  color: #ffc0cb;
  line-height: 0.8;
  margin-top: 0.5em;
}

/* 695px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 695px) {
  .app-message-area2{
    width: 90%
  }
}
